

	   <h2 mat-dialog-title>Créer un board</h2>
	   <div mat-dialog-content>
		 <form [formGroup]="form" class="example-form">
		   <mat-form-field class="example-full-width">
			 <mat-label>Titre</mat-label>
			 <input matInput formControlName="title" placeholder="Titre">
			 <mat-error *ngIf="form.controls['title'].touched && form.controls['title'].invalid">
			   Champs requis
			 </mat-error>
		   </mat-form-field>
	   
		   <mat-form-field class="example-full-width">
			 <mat-label>Description</mat-label>
			 <textarea matInput formControlName="description" placeholder="Description"></textarea>
			 <mat-error *ngIf="form.controls['description'].touched && form.controls['description'].invalid">
			   Champs requis
			 </mat-error>
		   </mat-form-field>
	   
		   <mat-form-field class="example-full-width">
			 <mat-label>Image</mat-label>
			 <textarea matInput formControlName="url" type="url" placeholder="Url de votre image"></textarea>
			 <mat-error *ngIf="form.controls['url'].touched && (form.controls['url'].hasError('isUrlValid') || form.controls['url'].invalid)">
			   {{ form.controls['url'].hasError('isUrlValid') ? 'Url non valide' : 'Champs requis' }}
			 </mat-error>
		   </mat-form-field>
		 </form>
	   </div>
	   <div mat-dialog-actions>
		<button mat-button (click)="registerBoard('valid')" [disabled]="form.invalid">Créer le board</button>
		<button mat-button (click)="registerBoard('cancel')">Annuler</button>
	  </div>
	  
	   