.board-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .board-full-width {
    width: 100%;
  }

  button{
    margin-left:20px;
  }

  div{
    margin-left:20px;
    margin-right:20px;
  }