

	   <h2 mat-dialog-title>Créer un board</h2>
	   <div mat-dialog-content>
		 <form [formGroup]="form" class="board-form">
		   <mat-form-field class="board-full-width">
			 <mat-label>Titre</mat-label>
			 <input matInput formControlName="title" placeholder="Titre">
			 <mat-error If="form.controls['title'].touched && form.controls['title'].invalid">
			   Champs requis
			 </mat-error>
		   </mat-form-field>
	   
		   <mat-form-field class="board-full-width">
			 <mat-label>Description</mat-label>
			 <textarea matInput formControlName="description" placeholder="Description"></textarea>
			 <mat-error If="form.controls['description'].touched && form.controls['description'].invalid">
			   Champs requis
			 </mat-error>
		   </mat-form-field>
	   
		   <mat-form-field class="board-full-width">
			 <mat-label>Image</mat-label>
			 <textarea matInput formControlName="url" type="url" placeholder="Url de votre image"></textarea>
			 <mat-error If="form.controls['url'].touched && (form.controls['url'].hasError('isUrlValid') || form.controls['url'].invalid)">
			   {{ form.controls['url'].hasError('isUrlValid') ? 'Url non valide' : 'Champs requis' }}
			 </mat-error>
		   </mat-form-field>
		 </form>
	   </div>
	   <div mat-dialog-actions>

		<button mat-mini-fab color="primary" (click)="registerBoard('valid')" [disabled]="form.invalid" aria-label="Example icon button with a filter list icon">
			<mat-icon>done</mat-icon>
		  </button>
		  <button mat-mini-fab color="warn" (click)="registerBoard('cancel')" aria-label="Example icon button with a filter list icon">
			<mat-icon>close</mat-icon>
		  </button>
	  </div>
	  
	   