<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Titre</mat-label>
      <input matInput placeholder="Titre">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Image</mat-label>
      <textarea matInput type="url" placeholder="Url de votre image"></textarea>
    </mat-form-field>
    <mat-card-actions align="end">
        <button mat-flat-button  (click)="CreateBoard()">Créer le board</button>
      </mat-card-actions>
  </form>
  