.container {
  background-image: url("../../../../assets/images/backdrop.jpg");
  background-size: cover; /* Couvre toute la zone visible */
  background-position: center; /* Centre l'image dans l'élément */
  height:100%;
}
.button-container{
  
  margin-top:50px;
  margin-left:25px;
  width:50px;
  
}
.board-card {
    max-width: 400px;
    margin: 10px 20px 8px;
    border: 1px black solid;
   height:100%;
  }

.board-card-container{
    margin-left: 50px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .board-card:nth-child(odd){
    transform:rotate(4deg);
  }
  .board-card:nth-child(even){
    transform:rotate(-4deg);
  }
  .push-pin{
    position: relative;
    margin-left:auto;
    margin-right:auto;
  }
  .push-pin:nth-child(odd){
    transform:rotate(4deg);
  }
  .push-pin:nth-child(even){
    transform:rotate(-4deg);
  }
